.title {
  color: white;
  background-color: rgb(36, 108, 167);
}

/* Add your styles below */
/* Google text decoration css */

body {
  /* Change font family to Arial for the whole body */
}

.heading {
  /* Should set text color to green */
}

#heading-first {
  /* Should set text color to orange */
}

