/* Add your styles below */
.button-normal {
}

.button-normal:hover {
}

.button-normal:active {
}

.button-normal:focus {
}

.button-normal:disabled {
}

.button-circle {
}

.button-circle:hover {
}

.button-circle:active {
}

.button-circle:focus {
}

.button-circle:disabled {
}
