.icon {
  /* Should add background color teal*/
  /* Should add height and width or padding, total size 30x30 px*/
  /* Should make the icons round */
  /* Should add margin to keep the icons apart*/
  /* Search for display flex and how to center items*/
}